*{
    padding: 0px;
    margin: 10px;
    box-sizing: border-box;
}
.navstyling{
    background-color:#F5D6F5;
    height: 70px;
    border:1px double black;
    border-radius: 25px;
}
.homestyle{
    border: 1px solid #272932;
    border-radius: 25px;
    margin: 30px;
    min-height: 300px;
}
.footskilling{
    width: 33%;
    height: 40%;
    background-color: tomato;
    border-radius: 25px;
}
.footerstyling{ 
    width: 700px;
    color:azure;
    text-align: center;
}
.socialmedia{
    color:beige;
    margin-left:10px;
}
.button{
    margin-left:80px ;
    padding: 0px;
    background-color:#F5D6F5;
}
